<!-- Navigation -->
<nav class="navbar navbar-expand-md py-0 navbar-dark bg-dark text-light">
  <a class="navbar-brand" href="{{site.baseurl}}/"><i class="fa fa-home"></i></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>

  <div class="navbar-collapse collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {% assign course_id = page.url | split: '/' | slice: 2 %}
      {% if page.url contains '/courses/' %}
      {% assign course_id = page.url | split: '/' | slice: 2 | first %}
      {% else %}
      {% assign course_id = null %}
      {% endif %}

      {% assign active_course = null %}
      {% for course in site.data.courses %}
      {% if course.id == course_id %}
      {% assign active_course = course %}
      {% endif %}
      {% endfor %}

      {% if active_course %}
      <li class="nav-item py-2">
        <a class="nav-link font-weight-bold" href="{{ site.baseurl }}/courses/{{ active_course.id }}/">
          {{ active_course.title }}
        </a>
      </li>
      {% for module in active_course.modules %}
      <li class="nav-item py-2{% if page.url contains module.id %} active{% endif %}">
        <a class="nav-link" href="{{ site.baseurl }}/courses/{{ active_course.id }}/{{ module.id }}">
          {{ module.title }}
        </a>
      </li>
      {% endfor %}
      {% else %}
      {% for course in site.data.courses %}
      <li class="nav-item py-2">
        <a class="nav-link" href="{{ site.baseurl }}/courses/{{ course.id }}/">
          {{ course.title }}
        </a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</nav>