{% assign next=null %}
{% assign prev=null %}
{% assign temp=null %}

{% assign active_course = null %}
{% for course in site.data.courses %}
{% if course.id == course_id %}
{% assign active_course = course %}
{% endif %}
{% endfor %}

{% if active_course %}
{% for m in active_course.modules %}
{% if m == module and forloop.first != true %}
{% assign p = forloop.index0 | minus:1 %}
{% assign prev = active_course.modules[p] %}
{% assign prev_post = site.categories[prev]|reverse|first %}
{% endif %}
{% if m == module and forloop.last != true %}
{% assign n = forloop.index0 | plus:1 %}
{% assign next = active_course.modules[n] %}
{% assign next_post = site.categories[next]|reverse|first %}
{% endif %}
{% endfor %}
{% endif %}