<div class="sidebar col-md-3">
	{% include next_module.html %}

	{% if module_prev %}
	<div class="pagination-section">
		<div class="title">
			Previous module:
		</div>
		<a rel="prev" class="prev" href="{{ site.baseurl }}{{ module_prev_post.url }}">
			{{ module_prev.title }} </a>
	</div>
	<hr />
	{% endif %}
	{% if prev %}
	<div class="pagination-section ml-4">
		<div class="title small text-muted">
			Previous submodule:
		</div>
		<a rel="prev" class="prev small" href="{{ site.baseurl }}{{ prev.url }}">
			{{ prev.title }} </a>
	</div>
	{% endif %}
	<ul class="my-2">
		{% for post in site.categories[module] reversed %}
		{% if post.categories contains course_id %}
		<li
			class="{% if post.url == page.url %}active{% endif %} {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %}">
			<a href="{{ site.baseurl }}{{ post.url }}">
				{{ post.title }}
			</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	{% if next %}
	<div class="pagination-section ml-4">
		<div class="title small text-muted">
			Next submodule:
		</div>
		<a rel="next" class="next small" href="{{ site.baseurl }}{{ next.url }}"> {{ next.title }}
		</a>
	</div>
	{% endif %}
	{% if module_next %}
	<hr />
	<div class="pagination-section">
		<div class="title">
			Next module:
		</div>
		<a rel="next" class="next" href="{{ site.baseurl }}{{ module_next_post.url }}"> {{ module_next.title }}
		</a>
	</div>
	{% endif %}
</div>